.btn {
    padding: 10px 20px;
    border-radius: 18px;
    border: 1px solid rgb(118, 230, 255);
    font-size: 16px;  
    font-weight: bold;
    color: rgb(118, 230, 255);
    background: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}
  
.btn:hover {
    background: linear-gradient(90deg, #75CCEB 0%, #6FB4FF 100%);
    color: #fff;
}
