.cardsection{
    background-color: #ffffff;
    height:1027px;
    width: auto;
    position: relative;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(60, 155, 228);
    margin-top: 73px;
}
.controls {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  .filter, .sort {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  
  label {
    font-size: 1rem;
    margin-right: 5px;
    color:#9AB0C0;
  }
  
  select {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 0px solid #ccc;
    color: #31546D; 
    font-weight: bold;
  }

.cardflex{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
}