
.mainSection{
    background-image: url(/public/img/Section1bgc.png);
    width: auto;
    width: auto;
    height: 693px;
    gap: 0px;
   
    background-size: cover;
    position: relative;
    
    
}

.hero-section {
    background: transparent;
    padding: 50px;
    width: 1482px;
    color: #fff;
  }
  
  .hero-section h1 {
    font-size: 3rem;
    margin: 0;
    
  }

  .welcome{
    font: 1em sans-serif;
    font-size: 40px;
    line-height: 65px;
  }
  .welcome_p{
    font-family:'Gill Sans';
    font-size: 64px;
    line-height: 65px;
  }
  
  .hero-section p {
    width: 400px;
    height: 72px;
    font-size: 16px;
    margin-top: 68px;
    color: black;
}
  

  
  .product-section {
    background-color: #ffffff;
    border-radius: 57px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 30px;
    width: 914px;
    height: 587px;
    margin-right: 35px;
    /* margin-left: 472px; */
    position: relative;
  }
  
  .new-lot {
    background-color: #ababe4;
    color: #ffffff;
    height: 40px;
    width: 97px;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
    padding: 5px 10px;
    border-radius: 0px 8px 8px 0px;
    /* font-size: large; */
    font-weight: 600;
    position: absolute;
    top: 80px;
  }
  
  .crystal-img {
    width: 362px;
height: 454px;
position: relative;
top: 30px;
left: 97px; 


  }
  .pricetag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .price {
    color: #007bff;
    font-weight: bold;
  }
  .App-header{
    display: flex;
  }
  .footerimg{
    background-image: url(/public/img/vector_1.png);
   
  
    width: 100%;
    height: 749px;
    background-size: cover;
    position: absolute;
  }
  
  .MouseScroll{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #87b2df;

  }